APP_NAME=BoloStore
APP_ENV=local
APP_KEY=base64:mMuKgMVrN92ygeupTJ9wyR4J83objJGGw6/gf6nC5Vo=
APP_DEBUG=true
APP_URL=http://localhost:8000


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cakestore
DB_USERNAME=root
DB_PASSWORD=


MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

QUEUE_CONNECTION=database
